:root {
    --text-gray: gray;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #d9dbd4 !important;
}

body::after {
    background-color: #009688;
    content: "";
    height: 130px;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
}

.container {
    height: calc(100% - 50px);
}

/* LEFT */
.left-container {
    width: 30%;
    border-right: 1px solid #d6d6d6;
}

/* Sezione sofia */
.sofia {
    height: 60px;
    background-color: white !important;
}

.sofia i {
    width: 25px;
    text-align: center;
    color: #b1b1b1;
}

.avatar {
    width: 60px;
}

.avatar img {
    width: 50px;
}

/* Sezione notifiche */
.notifications {
    background-color: #8edafc;
    height: 70px;
}

.notifications-icon {
    width: 40px;
    aspect-ratio: 1/1;
}

.notifications i {
    color: #8edafc;
}

.text-notification {
    font-size: .8rem;
}

.text-gray {
    color: var(--text-gray);
    font-size: .7rem;
}

/* Sezione Barra di Ricerca */
.search-section {
    height: 50px;
}

/* Sezione chat */
.chat-section {
    flex-grow: 1;
    overflow: auto;
}

.chat {
    height: 70px;
    

}

.info-user {
    font-size: .75rem;
}

/* RIGHT */
.right-container {
    flex-grow: 1;
    flex-direction: column;
}

.body-right-container {
    overflow: auto;
    flex-grow: 1;
    background-image: url("../img/mine.jpg");
}

.scrivi-mex {
    height: 60px;
    background-color: white !important;
    flex-shrink: 0;
}

/* user */
.user-chat-info {
    height: 60px;
    background-color: white !important;
    flex-shrink: 0;
}

.icons i {
    width: 25px;
    text-align: center;
    color: #b1b1b1;
}

/* BODY-RIGHT-CONTAINER */
.card {
    width: 40%;
}
.card-sent {
    background-color: rgb(213, 249, 186) !important;
    align-self: end;
}

.card-received {
    background-color: white;
    align-self: start;
}

.scrivi-mex i {
    color: rgb(107, 115, 118);
}
